PORT=5000

MONGO_URI=

JWT_SECRET=

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=

FACEPP_API_KEY=
FACEPP_API_SECRET=


IMAGGA_API_KEY=
IMAGGA_API_SECRET=

CLUB_NAME= CIG

FRONTEND_URL=
